ENVIRONMENT=development
ALLOWED_GOOGLE_EMAILS=
GOOGLE_CLIENT_ID=
JWT_SECRET=dev-secret-at-least-16-chars

DB_NAME=colombus
DB_USERNAME=colombus
DB_PASSWORD=colombus
DB_HOST=localhost
DB_PORT=5433

ML_PROFILER_API_URL_PREFIX=

KAGGLE_USERNAME=
KAGGLE_KEY=
