# Comma-separated list of Google emails allowed to log in.
ALLOWED_GOOGLE_EMAILS="allaheddine.cherigui@gmail.com"
GOOGLE_CLIENT_ID=1030811309515-2hei2v0r6u56kp8nl59tdglncojkjrm3.apps.googleusercontent.com
JWT_SECRET=QreFwMK1g84K+mUNrFcq2+Yqp4noIYSfv+fohpQ62F0=

DB_NAME=colombusdb
DB_USERNAME=christopher
DB_PASSWORD=pinta

ML_PROFILER_API_URL_PREFIX=http://mlprofiler_api:8081
