ENVIRONMENT=development
ALLOWED_GOOGLE_EMAILS=
GOOGLE_CLIENT_ID=
JWT_SECRET=

DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5433

ML_PROFILER_API_URL_PREFIX=

KAGGLE_USERNAME=
KAGGLE_KEY=
